<form action="/cars/add" method="POST">
    <label for="Make">Make:</label>
    <input type="text" name="make" value={{make}}><br>

    <label for="Model">Model:</label>
    <input type="text" name="model" value={{model}}><br>

     <label for="Year">Year:</label>
    <input type="Number" name="year" value={{year}}><br>

     <label for="PricePerDay">Price Per Day:</label>
    <input type="Number" name="pricePerDay" value={{pricePerDay}}><br>

    <label for="Power">Power:</label>
    <input type="Number" name="power" value={{power}}><br>

    <label for="Image">Image:</label>
    <input type="url" name="image" value={{image}}><br>

    <input type="submit" value="Save">
</form>